html {
    background-color: rgb(3, 3, 1);
    font-family: "Open Sans", sans-serif;
}
h1 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(119, 241, 94);
}
h2 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(252, 255, 75);
}
p {
    color: white;
    width: 500px;
  }
body{
    color:white;
}
img {
    display: block;
    align: left;
    width: 200px;
}  
  .column {
    float: left;
    width: 27%;
  }
/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 30px;
}
/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  